@use '../variables' as *;
@use '../media' as *;

.filter {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    margin: 0;
    gap: 12px;

    &_choices {
      gap: 64px;

      @include mobile {
        gap: 40px;
      }
    }
  }

  &__radio {
    appearance: none;
    position: absolute;
  }

  &__radio:focus-visible + &__label {
    outline: 2px solid $orange;
    outline-offset: 5px;
  }

  &__radio:checked + &__label {
    background-color:  $light-orange;
  }

  &__label {
    display: inline-block;
    padding: 16px;
    padding-left: 60px;
    cursor: pointer;
    border-radius: 300px;
    background-color:  $white;
    color: $dark;
    background-size: 40px;
    background-position: center left 16px;
    background-repeat: no-repeat;
    min-height: 72px;
    display: flex;
    align-items: center;

    @include mobile {
      padding: 10px 12px 10px 40px;
      background-size: 24px;
      background-position: center left 12px;
      min-height: 40px;
    }


    &_flowers {
      background-image: url('/img/flowers.png');
    }
    &_toys {
        background-image: url('/img/toys.png');
    }
    &_postcards {
        background-image: url('/img/postcards.png');
    }

    &:hover {
      background-color: $orange;
    }
  }

    // &__choices-box {

    // }


  &__text {
    font-family: $font-family;
    font-weight: 400;
    color: $dark;
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      background: url("/public/img/triangle.svg") no-repeat center/contain;
    }
  }

  // &__input-price {
  // }

  // &__type-list {
  // }

  // &__type-item {
  // }

  // &__type-btn {
  // }


}
